
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #0f1010;
  padding: 1.25rem 1.875rem;
  color: #fff;
}

.genre-title {
  font-size: 1.4vw;
  font-weight: 400;
  margin-bottom: 0.5em;
  text-transform: capitalize;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4vw;
}

.movie {
  position: relative;
  width: 20%;
  aspect-ratio: 100/56.25;
  padding: 5.75% 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  cursor: pointer;
  text-transform: capitalize;
  font-size: clamp(11px, 1.5vw, 15px);
  background-position: center;
  background-size: cover;
  transition: all 300ms;

  @media (min-width: 1440px) {
    width: 16.66666667%;
    padding: 4.75% 1rem;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    transition: all 300ms;
    position: absolute;
  }

  &__name {
    opacity: 0;
    position: absolute;
    bottom: -12%;
    transform: scale(0.5);
    width: 100%;
    padding: 0 0.5rem;
    z-index: 999;
    transition: all 200ms;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &--alt {
      opacity: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      transform: translate(-50%, -50%);
      transition: all 200ms;
    }
  }

  &:hover {
    z-index: 9999999;
    transform: scale(1.25);
    border-radius: 4px;
    box-shadow: 0 0 15px -8px rgba(0, 0, 0, 0.55);
  }

  &:hover &__name {
    bottom: 12.5%;
    opacity: 1;
    transform: scale(1);
  }

  &:hover &__name--alt {
    opacity: 0;
  }

  &:hover:before {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  }
}

.inline-container {
  display: inline-flex;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
